
:root{
    --main-bg-couleur: #F4F6F9;
    --bordure-boutton-couleur: #8ECAE6;
    --important-texte-couleur: #2C3A4B;
    --bleu-titre-couleur: #00B4D8;
    --texte-nav-couleur: #777E90;
    --noir-titre: #2C3A4B;
    --separateur: #e6e6e6;
    --gradient: linear-gradient(180deg, #8ECAE6 0%, rgba(142, 202, 230, 0.28) 100%);
}

.dark-mode {
  --main-bg-couleur: #333333;
  --bordure-boutton-couleur: #4C4C4C;
  --important-texte-couleur: #FFFFFF;
  --bleu-titre-couleur: #00B4D8;
  --texte-nav-couleur: #f0f0f0;
  --noir-titre: #FFFFFF;
  --separateur: #c7c7c7;
  --gradient: linear-gradient(180deg, #d1d1d1 0%, rgba(76, 76, 76, 0.28) 100%);
  }

.dark-mode img{
  filter: grayscale(1);
}

@keyframes changement-couleur {
  0% {
    color: #333333; /* La couleur du texte au départ */
  }
  100% {
    color: #F4F6F9; /* La couleur du texte au milieu de l'animation */
  }
}

.dark-mode nav a:hover, #boutton:hover{
  animation: changement-couleur 0.7s ease-in-out forwards;
}

.dark-mode nav a,.dark-mode #boutton{
  color: #c7c7c7;
}

h1 {
  animation: animationOui 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes animationOui {
  from {
    transform: translateX(-5%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
