/* # background color : F4F6F9
# bleu soft ( bord boutton ) : 8ECAE6
# couleur texte important (noir) : 2C3A4B
# bleu plus foncé titre couleur : 00B4D8
# couleur texte nav : 777E90 */

:root{
    --main-bg-couleur: #F4F6F9;
    --bordure-boutton-couleur: #8ECAE6;
    --important-texte-couleur: #2C3A4B;
    --bleu-titre-couleur: #00B4D8;
    --texte-nav-couleur: #777E90;
    --noir-titre: #2C3A4B;
}

