@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: 0;
}

h1{
  font-family: 'DM Sans', sans-serif;
}

body{
  background-color: #F4F6F9;
}

header{
  margin: 20px 30px;
  
}

nav{
    display: flex;
    font-family: DM Sans;
}

nav a{
    text-decoration: none;
    color: #777E90;
}

#important{
    color: #2C3A4B;
    background-color: white;
    padding: 0.6em;
    border: solid 2px #8ECAE6;
    border-radius: 8px;
}

nav img{
    flex-grow: 1;
    margin: 1em;
}

.navDroite{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.navDroite a{
  margin: 0 3em 0;
}


/* Le switch */
.switch {
  display: inline-block;
  position: relative;
  min-width: 4.2em;
  min-height: 2.2em;
  cursor: pointer;
  overflow: hidden;
}

.switch input {
  position: absolute;
  top: -1.8em;
  left: -1.8em;
  width: 0;
  height: 0;
}

.switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gray;
  border-radius: 1.25em;
}

.switch input:checked + span {
	background: #346abf;
}

.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0.25em;
	width: 2em;
	height: 2em;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}

.switch input:checked + span:before {
	left: 2em;
}

main h1{
  text-align: center;
  margin-top: 2em;
}

main .secondtitle{
  display: block;
  margin-left: 2em;
  margin-top: 0.3em;
  font-weight: 700;
}

main .secondtitle p{
  display: inline;
  margin-left: 2em;
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  color: #00B4D8
}

.divbleu{
  width: 1166px;
  height: 535px;
}


