@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@700&display=swap');

*{
    background-color: #F4F6F9;
}




nav{
    display: flex;
    font-family: DM Sans;
    margin: 2.5em 2em 5em;
}

nav a{
    text-decoration: none;
    color: #777E90;
}

#important{
    color: #2C3A4B;
    background-color: white;
    padding: 0.6em;
    border: solid 2px #8ECAE6;
    border-radius: 8px;
}

nav img{
    flex-grow: 1;
    margin: 1em;
    width: 2px;
}

.navDroite{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-basis: 30vw;
}

.navDroite a{
  margin: 0 4em 0;
}





/* Le switch */
.switch {
  display: inline-block;
  position: relative;
  min-width: 4.2em;
  min-height: 2.2em;
  cursor: pointer;
  overflow: hidden;
}

.switch input {
  position: absolute;
  top: -1.8em;
  left: -1.8em;
  width: 0;
  height: 0;
}

.switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gray;
  border-radius: 1.25em;
}

.switch input:checked + span {
	background: #346abf;
}

.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0.25em;
	width: 2em;
	height: 2em;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}

.switch input:checked + span:before {
	left: 2em;
}

h1{
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
}

header span{
    color: #00B4D8;
    background-color: white;
    padding: 0.2em;
    border-radius: 18px;
}

.gauche{
  margin-left: 5em;
}

main > section{
  display: flex;
  margin: 7em 10em;
  font-family: Dm Sans;
}

.petitDiv{
  font-size: 12px;
  flex-grow: 0;
  flex-basis: 13.5vw;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.petitDiv img{
  width: 15vw;
  border-radius: 12px;
}

.petitDiv div{
  margin: 2em;
}

.petitDiv *{
  background-color: white;
}

h3{
  font-size: 1.5em;
}

.grandDiv{
  flex-basis: 60vw;
  padding: 1em;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.grandDiv ul{
  list-style: none;
}

.grandDiv h4{
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.grandDiv *{
  background-color: white;
}

#milieu{
  border-top: #E6E6E6 solid 2px;
  border-bottom: #E6E6E6 solid 2px;
}

.presEtu{
  display: flex;
  margin: 0.5em 3em 3em;
  padding-bottom: 1em;
  align-items: center;
  border-bottom: #E6E6E6 solid 2px;
}

.presEtu img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#Qmetier{
  padding: 2em;
}

#Qmetier h4{
  padding-bottom: 1em;
  font-size: 1.5em;
  font-weight: 700;
  border-bottom: #E6E6E6 solid 2px;
}

h2{
  font-family: Poppins;
  font-size: 36px;
}

h2 span{
  color: #00B4D8;
  background-color: white;
  padding: 0.2em;
  border-radius: 18px;
}


footer{
  text-align: right;
  margin: 2em;
  font-family: DM Sans;
}

footer span{
  color: #00B4D8;
  background-color: white;
  padding: 0.2em;
  border-radius: 8px;
}